body{
    background: linear-gradient(#9376E0,#E893CF,#F3BCC8,#F3BCC8,#F6FFA6);   
}

.leb{
    font-family: 'Bungee', cursive;
}
.head{
        box-shadow: 0px 20px 20px 0px #000000a8;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

.note{
    color: white;
}

#song{
    color: rgb(255, 253, 253);
}

.div_head{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.342);
}

#img1{
    left: 0;
    float: left;
}

#img2{
    right: 0;
    float: right;
}

canvas{
    border-radius: 30px;
    box-shadow:0px 0px 20px 13px white;
}

#play{
    position: relative;
    background: rgba(255, 255, 255, 0);
    color:rgb(255, 255, 255);
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.5em;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: 'Bungee', cursive;
    padding: 5px 30px;
    transition:0.5s;
    border-radius: 10px;
    border: 5px solid white;
    
}

#play:hover{
    
    letter-spacing:0.25em;
    box-shadow: 0 0 35px var(--clr);

}

#play i{
    position: absolute;
    display: block;
    inset: 0;
}

#play i::before{
    content: '';
    position: absolute;
    top: -5 ;
    left: 80%;
    width: 20px;
    height: 6px;
    background: #f29ad7;
    transform:translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#play:hover i::before{
    width: 20px;
    left: 20%;
}